.content1{
	width: 500px;
	height: 500px;
	border: ;
	margin-left: 30px;
}
.content2{
	width: 500px;
	height: 800px;
	border: ;
	margin-left: 30px;
	margin-top: -16px;
	background-color:  yellow;

}
ul li{
	list-style-type: none;
	margin: 10px;
	font-size: 20px;


}
.content3{
	width: 500px;
	height: 50px;
	background-color: white;
	margin-left: 30px;
	border: ;
}
.content4{
	width: 500px;
	height: 40px;
	background-color: yellow;
	margin-left: 30px;
	border: ;
}
.content5{
	width: 504px;
	height: 150px;
	background-color: yellow;
	color: white;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-left: 590px;
	margin-top: -1380px;
}
.content6{
	border: 2px solid yellow;
	width: 500px;
	height: 250px;
	margin-left: 590px;
	margin-top: 30px;
}
.content7{
	border: 2px solid yellow;
	width: 500px;
	height: 600px;
	margin-left: 590px;
	margin-top: 30px;
}
.content8{
	border: 2px solid yellow;
	width: 500px;
	height: 200px;
	margin-left: 590px;
	margin-top: 25px;

}

.content9{
	border: ;
	height: 150px;
	width: 30px;
	margin-left: 1125px;
	background-color: yellow;
	margin-top: -1300px;
}
.page{
	width: 1200px;
	height: 1500px;
	border-radius: 40px;
	background-color: white;
}